<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donaeasy">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonaEasy">
        <activity
            android:name=".ReeagendarCita"
            android:exported="false" />
        <activity
            android:name=".AgendarCita"
            android:exported="false" />
        <activity
            android:name=".MiPerfil"
            android:exported="false" />
        <activity
            android:name=".ActualizarTest"
            android:exported="false" />
        <activity
            android:name=".RecuperarCampanias"
            android:exported="false" />
        <activity
            android:name=".ModificarCampania"
            android:exported="false" />
        <activity
            android:name=".GuardarCampania"
            android:exported="false" />
        <activity
            android:name=".GenerarCampania"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".DetallesCampania"
            android:exported="false" />
        <activity
            android:name=".Registrarse"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5463728048955304~3326976078" />
    </application>

</manifest>